/* fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter&family=Lobster&family=Manrope&family=Open+Sans&family=Poppins&family=Rubik&family=Work+Sans&display=swap');

/* 
font-family: 'EB Garamond', serif;
font-family: 'Lobster', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Inter', sans-serif;
*/

/* common styles */
body {
    font-family: 'Inter', sans-serif;
}


/* common color  */
.bd-bg-color {
    background-color: #0e1b34;
}

.bd-color-1 {
    color: #d9d9d9;
}

.bd-bg-color-1 {
    background-color: #d9d9d9;
}

.bd-color-2 {
    color: #b0b3b8;
}

.bd-color-3 {
    color: #0e1b34;
}

.bd-color-4 {
    color: #8c929b;
}
.bd-color-5 {
    color: #404143;
}
.bd-color-6 {
    color: #5c5d61;
}


/* common style  */
.bd-search-border {
    border-top: 0 !important;
    border-bottom: 2px solid #000000 !important;
    border-right: 0 !important;
    border-left: 0 !important;
}
.bd-hr-line{
    border-bottom: 3px solid #000000;
}
.hvr p:hover{
    background-color: #FFFFFF;
    cursor: pointer;
}
input:focus {
    outline:none;
}
